<header>
    <a id="logo" href="/">
        <img id="logo-icon" src="icons/person-green.png" alt="walking person">
        <h1 class="logo-text">mini</h1>
        <h1 class="logo-text green-text">map</h1>
    </a>
    <div id="filter-wrap" tabindex="0">
        <h2 id="filter-title">Filter</h2>
        <div id="filter-items" style="display: none;">
            <img class="filter-item active-item" id="filter-item-BikeRack" src="icons/bike-rack.png"/>
            <img class="filter-item active-item" id="filter-item-Restroom" src="icons/restroom.png"/>
            <img class="filter-item active-item" id="filter-item-PostalDropBox" src="icons/postal-drop-box.png"/>
            <img class="filter-item active-item" id="filter-item-VendingMachine" src="icons/vending-machine.png"/>
            <img class="filter-item active-item" id="filter-item-DrinkingFountain" src="icons/drinking-fountain.png"/>
            <img class="filter-item active-item" id="filter-item-InterestPoint" src="icons/interest-point.png"/>
        </div>
    </div>
</header>