<header>
    <a id="logo">
        <img id="logo-icon" src="icons/person-green.png" alt="walking person">
        <h1 class="logo-text">mini</h1>
        <h1 class="logo-text green-text">map</h1>
    </a>
</header>