<div id="error-wrap">
    <h1 id="error-title-text">Error 404</h1>
    <p id="error-body-text">The requested page was not found.</p>
    <div id="emoji-wrap">
        <i class="fa fa-solid fa-face-sad-tear"></i>
        <i class="fa fa-solid fa-face-flushed"></i>
        <i class="fa fa-solid fa-face-tired"></i>
    </div>
    <style>
        #filter-wrap {
            display: none;
        }
    </style>
</div>
