<div id="map"></div>
<div id="on-map-controls">
    <button class="map-control" id="recenter-button">
        <i class="fa fa-solid fa-location-arrow"></i>
    </button>
    <form id="location-search-form">
        <input type="text" class="map-control" id="location-search" placeholder="Search locations" autocomplete="off" autocapitalize="off" spellcheck="false">
        <button id="clear-location-search-button">
            <i class="fa fa-solid fa-xmark"></i>
        </button>
    </form>
</div>
<div id="create-marker-button" class="round-button" tabindex="1">
    <h1 id="plus-button">+</h1>
    <div class="marker-type-button" id="bike-rack-button" style="display: none;">
        <img src="icons/bike-rack.png"/>
        <p>Bike Rack</p>
    </div>
    <div class="marker-type-button" id="restroom-button" style="display: none;">
        <img src="icons/restroom.png"/>
        <p>Restroom</p>
    </div>
    <div class="marker-type-button" id="postal-drop-box-button" style="display: none;">
        <img src="icons/postal-drop-box.png"/>
        <p>Postal Drop Box</p>
    </div>
    <div class="marker-type-button" id="vending-machine-button" style="display: none;">
        <img src="icons/vending-machine.png"/>
        <p>Vending Machine</p>
    </div>
     <div class="marker-type-button" id="drinking-fountain-button" style="display: none;">
        <img src="icons/drinking-fountain.png"/>
        <p>Drinking Fountain</p>
    </div>
     <div class="marker-type-button" id="interest-point-button" style="display: none;">
        <img src="icons/interest-point.png"/>
        <p>Point of Interest</p>
    </div>
</div>
<div id="marker-info-wrap">
    <button id="hide-info-button"><i class="fa fa-solid fa-xmark"></i></button>
    <h2 id="marker-info-title">Vending Machine</h2>
    <p id="marker-info-coords"></p>
    <form id="marker-info-attributes-wrap"></form>
    <div id="marker-info-buttons-wrap">
        <button class="marker-info-button" id="marker-edit-button">Edit</button>
        <button class="marker-info-button" id="marker-report-button">Report</button>
        <button class="marker-info-button" id="marker-share-button">Share</button>
    </div>
    <div id="marker-edit-buttons-wrap" hidden>
        <button class="marker-info-button" id="marker-edit-confirm-button">Confirm</button>
        <button class="marker-info-button" id="marker-edit-cancel-button">Cancel</button>
    </div>
</div>
<script src="map.js" charset="utf8"></script>
<script src="index.js" charset="utf8"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places&callback=createMap&v=weekly"
    defer
></script>
