:root {
    --purple: #5055d4;
    --light-purple: #5a5fe6;
    --green: #6aa84f;
    --red: #d41c1c;
    --white: #ededed;
    --light-gray: #dedede;
    --dark-gray: #828282;
    --darker-gray: #383838;
    --black: #0f0f0f;
}
body {
    background-color: var(--white);
    color: var(--black);
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
header {
    background-color: var(--purple);
    height: 30px;
    width: calc(100% - 10px);
    padding: 10px 22px;
}
#logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    height: 30px;
}
#logo-icon {
    height: 34px;
    width: auto;
    margin-right: 6px;
}
.logo-text { 
    color: var(--white);
    font-family: "Fredoka One", cursive;
    font-size: 32px;
    height: 30px;
    line-height: 28px;
    margin: 0;
}
.green-text {
    color: var(--green);
}
footer {
    background-color: var(--purple);
    height: 20px;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}
#credit-text {
    color: var(--white);
    text-align: center;
    margin: 0 auto;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
#credit-text a {
    color: var(--white);
    text-decoration: none;
}
#content-wrap {
    width: 100%;
    height: calc(100% - 90px);
    position: relative;
}
#map {
    width: 100%;
    height: 100%;
}
#on-map-controls {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
.map-control {
    background-color: var(--light-gray);
    height: 35px;
    border-radius: 10px;
    transition: background-color 0.3s;
    box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.3);
}
.map-control:hover {
    background-color: var(--white);
}
#recenter-button {
    color: var(--green);
    border: none;
    cursor: pointer;
    width: 35px;
    display: grid;
    place-items: center;
    transition: transform 0.2s ease-in-out, background-color 0.3s;
}
#recenter-button:hover {
    transform: scale(1.05);
}
#recenter-button:active {
    transform: scale(0.97);
}
#location-search {
    width: 150px;
    font-family: "Nunito", sans-serif;
    outline: none;
    border: none;
    margin: 0;
    padding: 0 25px 0 10px;
}
#location-search:focus {
    background-color: var(--white);
    outline: 2px solid var(--green);
}
#clear-location-search-button {
    position: absolute;
    right: 5px;
    top: 0;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--dark-gray);
    height: 35px;
    width: 20px;
    font-size: 16px;
    transition: color 0.3s;
}
#clear-location-search-button:hover {
    color: var(--red);
}
#create-marker-button {
    background-color: var(--purple);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
}
#plus-button {
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 3px 0;
}
.round-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.round-button:hover {
    background-color: var(--light-purple);
}
.square-button {
    width: 185px;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
}
.marker-type-button {
    width: calc(100% - 10px);
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    padding: 4px 2px 4px 8px;
    transition: background-color 0.3s;
}
.marker-type-button:hover {
    background-color: var(--light-purple);
}
.marker-type-button img {
    height: 28px;
    width: 28px;
}
.marker-type-button p {
    font-size: 16px;
    text-align: left;
    margin: 0 0 0 5px;
    text-overflow: hidden;
    white-space: nowrap;
}
#marker-info-wrap {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 20px;
    width: 300px;
    height: auto;
    padding: 15px 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--light-gray);
    color: var(--black);
}
#marker-info-title {
    color: var(--green);
    font-family: "Fredoka One", cursive;
    margin: 0;
    font-size: 26px;
    text-align: left;
}
#marker-info-coords {
    font-size: 12px;
    text-align: left;
    color: var(--dark-gray);
    margin: 0;
}
#marker-info-attributes-wrap {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.marker-info-attribute {
    text-align: left;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.marker-attribute-false {
    color: var(--darker-gray);
    margin: 0;
}
.marker-attribute-true {
    color: var(--black);
    font-weight: bold;
    margin: 0;
}
.fa-circle-check {
    color: var(--green);
}
.fa-circle-xmark {
    color: var(--red);
}
.fa-circle-question {
    color: var(--dark-gray);
}
#hide-info-button {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    color: var(--darker-gray);
    background: none;
    outline: none;
    border: none;
    padding: 0;
    transition: color 0.3s;
    cursor: pointer;
}
#hide-info-button:hover {
    color: var(--red);
}
